# Documentation building requirements.
Sphinx
Jinja2
sphinxcontrib-bibtex
lxml
q2-pepsirf @ git+https://github.com/LadnerLab/q2-pepsirf@sync-deconv-ISS161
https://github.com/qiime2/sphinx-ext-qiime2/archive/master.tar.gz
