# Documentation building requirements.
Sphinx
altair_saver
Jinja2
sphinxcontrib-bibtex
lxml
q2-autopepsirf @ git+https://github.com/LadnerLab/q2-autopepsirf@main
q2-pepsirf @ git+https://github.com/LadnerLab/q2-pepsirf@sync-deconv-ISS161
q2-ps-plot @ git+https://github.com/LadnerLab/q2-ps-plot@main
https://github.com/qiime2/sphinx-ext-qiime2/archive/master.tar.gz
